In [30]:
import pandas as pd

In [31]:
import numpy as np

In [32]:
fore_sj = pd.read_csv('forecast_sj_new.csv')

In [33]:
fore_iq = pd.read_csv('forecast_iq_new.csv')

In [34]:
fore_sj.shape

(260, 26)

In [35]:
fore_sj.head()

,Unnamed: 0,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,avg_ndvi,avg_ndvi_lower,avg_ndvi_upper,...,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yearly,yearly_lower,yearly_upper,additive_terms,additive_terms_lower,additive_terms_upper,yhat
0,0,2008-04-29,31.994144,-22.586966,29.459621,31.994144,31.994144,-0.011626,-0.011626,-0.011626,...,-0.829685,-0.829685,-0.829685,-0.722823,-0.722823,-0.722823,0.0,0.0,0.0,5.449089
1,1,2008-05-06,32.086423,-23.907896,30.289672,32.086423,32.086423,-0.012831,-0.012831,-0.012831,...,-0.847482,-0.847482,-0.847482,-0.735147,-0.735147,-0.735147,0.0,0.0,0.0,4.893749
2,2,2008-05-13,32.178702,-19.102416,36.648782,32.178702,32.178702,-0.008908,-0.008908,-0.008908,...,-0.725216,-0.725216,-0.725216,-0.731275,-0.731275,-0.731275,0.0,0.0,0.0,8.842177
3,3,2008-05-20,32.270981,-17.807947,38.107232,32.270981,32.270981,-0.008910,-0.008910,-0.008910,...,-0.714984,-0.714984,-0.714984,-0.751221,-0.751221,-0.751221,0.0,0.0,0.0,9.197737
4,4,2008-05-27,32.363260,-17.251871,35.237449,32.363260,32.363260,-0.008679,-0.008679,-0.008679,...,-0.753951,-0.753951,-0.753951,-0.793135,-0.793135,-0.793135,0.0,0.0,0.0,7.962942

In [36]:
submi = pd.read_csv('submission_format.csv')

In [37]:
submi_sj = submi[submi['city'] == 'sj']
submi_iq = submi[submi['city'] == 'iq']

In [38]:
submission_sj = pd.concat([submi_sj, pd.DataFrame(fore_sj['yhat'])], axis=1)

In [39]:
submission_sj.head()

  city  year  weekofyear  total_cases      yhat
0   sj  2008          18            0  5.449089
1   sj  2008          19            0  4.893749
2   sj  2008          20            0  8.842177
3   sj  2008          21            0  9.197737
4   sj  2008          22            0  7.962942

In [40]:
submission_sj = submission_sj.drop(['total_cases'],axis = 1)

In [41]:
submission_sj.rename(columns = {'yhat':'total_cases'}, inplace = True)

In [42]:
submi_iq.reset_index(inplace=True)

In [43]:
submission_iq = pd.concat([submi_iq, pd.DataFrame(fore_iq['yhat'])], axis=1)

In [44]:
submission_iq.shape

(156, 6)

In [45]:
submission_iq = submission_iq.drop(['index','total_cases'],axis = 1)

In [46]:
submission_iq.head()

  city  year  weekofyear      yhat
0   iq  2010          26  3.695209
1   iq  2010          27  4.365394
2   iq  2010          28  4.648977
3   iq  2010          29  5.216939
4   iq  2010          30  4.209278

In [47]:
submission_iq.rename(columns = {'yhat':'total_cases'}, inplace = True)

In [48]:
main_submission = submission_sj.append(submission_iq)

/var/folders/dl/zfkvqms549vchyzbsj30cgbw0000gn/T/ipykernel_18588/2663588300.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_submission = submission_sj.append(submission_iq)

In [49]:
main_submission.shape

(416, 4)

In [50]:
main_submission.set_index('city',inplace=True)

In [51]:
main_submission_round = main_submission.copy()

In [52]:
main_submission_round['total_cases'] = main_submission_round['total_cases'].round(0)

In [53]:
main_submission_round.head()

      year  weekofyear  total_cases
city
sj    2008          18          5.0
sj    2008          19          5.0
sj    2008          20          9.0
sj    2008          21          9.0
sj    2008          22          8.0

In [54]:
main_submission_round['total_cases'] = main_submission_round['total_cases'].astype('int64')

In [55]:
main_submission_round[main_submission_round['total_cases'] < 0]

Empty DataFrame
Columns: [year, weekofyear, total_cases]
Index: []

In [56]:
main_submission_round.to_csv('submission_prophet_new.csv')